.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgb(240, 240, 240);
}

.button-previous {
  left: 1rem;
}

.button-next {
  right: 1rem;
}
